.btn {
  &,
  &:link,
  &:visited {
    padding: 0.8rem 1.8rem;
    font-size: 1rem;
    font-weight: 600;
    
    color: #fff;

    border-radius: 1000px;
    text-decoration: none;
    text-align: center;

    border: none;

    &:not(:last-child) {
      margin-right: .7rem;
    }

    @include size(mobile-s) {
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
    @include size(mobile-m) {
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
    @include size(mobile-l) {
      padding: 0.9rem 7rem;
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
  }

  &--blue {
    background-color: $color-Light-Blue;
    box-shadow: 0 3px 0 hsl(233, 45%, 42%);
    transition: all .5s;
    overflow: hidden;

    @include size(mobile-s) {
      display: block;
    }
    @include size(mobile-m) {
      display: block;
    }
    @include size(mobile-l) {
      display: block;
    }

    &:hover {
      overflow: hidden;
      color: $color-Grayish-Blue;
      background-color: #fff;
      border: .16rem solid hsla(232, 100%, 77%, 1);
      box-shadow: none;

      transition: all .2s;
    }
  }

  &--cyan {
    background-color: $color-Strong-Cyan;
    box-shadow: 0 3px 0 hsl(171, 64%, 35%);
    transition: all .3s;
    overflow: hidden;

    @include size(mobile-s) {
      display: block;
    }
    @include size(mobile-m) {
      display: block;
    }
    @include size(mobile-l) {
      display: block;
    }

    &:hover {
      overflow: hidden;
      color: $color-Grayish-Blue;
      background-color: #fff;
      border: .16rem solid hsla(171, 52%, 58%, 1);
      box-shadow: none;

      transition: all .2s;
    }
  }

  &--animated {
    animation: moveInBottom 1.2s ease-out;
  }
}
